<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page .</title>
</head>
<style>
    #passwordbox,#usernamebox{
        margin: 10px;
    }
    .container{
        background-color: aquamarine;
    }
    button{
        margin: 10px;
        background-color: blue;
    }
</style>
<body>
    <div class="container">
    <h1>Login Page</h1>
    <form method="POST" >
        <label>Username</label>
        <input id="usernamebox" type="text" name="username" required><br>
        <label>Password</label>
        <input id="passwordbox" type="text" name="password" required><br>
        <button type="submit">Login</button>
    </form>
    </div>
</body>
</html>